@model VideoListViewModel
<div class="row">
    @foreach(var video in Model.Videos)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <h2>
                    <a>@video.Title</a>
                </h2>
                <div class="caption">
                    <p>@video.ShortDescription</p>
                    <h3 class="pull-right">@video.Price.ToString("c")</h3>
                </div>
            </div>
        </div>
    }
</div>
